<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.repository.mybatis.mapper.TeddyMapper">
    <select id="selectDoodleLogin" parameterType="string" resultType="hello.domain.BrainpubLogin">
        SELECT num, id, name, thumb, thumb_sec, ptr
        FROM doodle_login
        WHERE name = #{name}
    </select>

</mapper>