<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.repository.mybatis.mapper.TeddyMapper">
    <select id="selectDoodleLogin" parameterType="string" resultType="hello.domain.BrainpubLogin">
        SELECT num, id, name, thumb, thumb_sec, ptr
        FROM doodle_login
        WHERE name = #{name}
    </select>

    <insert id="insertLogin" parameterType="hello.domain.BrainpubLogin">
        INSERT INTO doodle_login
            (id, name, thumb, thumb_sec, ptr)
        VALUES
            (#{id}, #{name}, #{thumb}, #{thumb_sec}, #{ptr} )
    </insert>

    <update id="updateLogin" parameterType="hello.domain.BrainpubLogin">
        UPDATE doodle_login
        SET
            name = #{name},
            thumb = #{thumb},
            thumb_sec = #{thumb_sec},
            ptr= #{ptr}
        WHERE num = #{num}
    </update>

    <delete id="deleteLogin" parameterType="string">
        DELETE FROM doodle_login
        WHERE num = #{num}
    </delete>
</mapper>